<div class="page-content-inner">
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h2>Sales List</h2>
        </div>
        <div class="panel-body">
            <h4 class="col-md-6 col-sm-6 col-xs-6">Filters</h4>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label class="form-control-label" for="l0">Search </label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-9">
                            <input type="text" class="form-control" ng-model="search.name" placeholder="Search keyword"
                                id="l0">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label class="form-control-label" for="l0">Vendors </label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-9">
                            <select ng-model="search.vendor"
                                ng-options="vendors.id as vendors.firstName for vendors in vendorList track by vendors.id"
                                class="form-control" name="searchvendor">
                                <option value="" selected>All</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label class="form-control-label" for="l0">Sub Brands </label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-9">
                                <select ng-model="search.subBrand"
                                    ng-options="subBrand.id as subBrand.name for subBrand in subBrands track by subBrand.id"
                                    class="form-control" name="searchvendor">
                                    <option value="" selected>All</option>
                                </select>
                            </div>
                        </div>
    
                    </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="cui-ecommerce--catalog">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
                        dir-paginate="sales in salesList  | itemsPerPage:itemsPerPage" current-page="currentPage"
                        total-items="totalCount">
                        <div class="cui-ecommerce--catalog--item prd-block">
                            <span class="cui-ecommerce--catalog--item--status--title" ng-class="sales.status"
                                ng-if="sales.status == 'SALE_APPROVED'">APPROVED</span>
                            <span class="cui-ecommerce--catalog--item--status--title" ng-class="sales.status"
                                ng-if="sales.status == 'SALE_REJECTED'">REJECTED</span>
                            <span class="cui-ecommerce--catalog--item--status--title" ng-class="sales.status"
                                ng-if="sales.status == 'SALE_FROZEN'">FROZEN</span>
                            <span class="cui-ecommerce--catalog--item--status--title" ng-class="sales.status"
                                ng-if="sales.status == 'SALE_BLOCKED'">BLOCKED</span>
                            <div class="cui-ecommerce--catalog--item--img">
                                <!-- <div class="cui-ecommerce--catalog--item--status"  ng-class="sales.status" ng-if="sales.status"> -->

                                <div
                                    class="cui-ecommerce--catalog--item--like cui-ecommerce--catalog--item--like__selected">
                                    <i class="icmn-file-eye cui-ecommerce--catalog--item--like--liked"
                                        data-toggle="modal" data-target="#saleDetails" ng-click="saleDetails(sales);">
                                    </i>
                                    <i class="icmn-pencil5 cui-ecommerce--catalog--item--like--liked"
                                        data-toggle="modal" data-target="#editSale" ng-click="saleDetails(sales);"> </i>
                                </div>

                                <a href="javascript: void(0);">
                                    <img ng-src="{{sales.sale_image.imageURL}}" alt="{{sales.sale_image.filename}}" />
                                </a>
                            </div>
                            <div class="cui-ecommerce--catalog--item--title">
                                <a href="javascript: void(0);">{{sales.title}}</a>
                                <div class="cui-ecommerce--catalog--item--price">
                                    <!--$678.00-->
                                    {{sales.percentageFinalSalePrice | currency:currency}}
                                    <div ng-show="discountExists(sales.discount_percentage)"
                                        class="cui-ecommerce--catalog--item--price--old">
                                        <span>{{sales.total_price | currency:currency}}</span><small>({{sales.discount_percentage}}%
                                            Discount )</small>
                                    </div>
                                </div>
                            </div>
                            <div class="cui-ecommerce--catalog--item--descr">
                                <span class="prd-hide"
                                    ng-if="sales.status != 'UPCOMING' && sales.status != 'ONGOING' && sales.status != 'SALE_BLOCKED' && sales.status != 'SALE_FROZEN'   "></span>
                                <span class="prd-block"
                                    ng-if="sales.status == 'UPCOMING' || sales.status == 'ONGOING' || sales.status == 'SALE_BLOCKED' || sales.status == 'SALE_FROZEN'   ">
                                    <span ng-if="sales.status == 'SALE_BLOCKED'">
                                        <button type="button" id="notify-warning"
                                            class="btn btn-sm   margin-inline btn-warning"
                                            ng-click="unBlockSaleConfirm(sales)"><span
                                                ng-if="sales.sale_type==='NORMAL'">UnBlock</span>
                                            <span ng-if="sales.sale_type==='BULK'">Activate</span>
                                        </button>
                                    </span>
                                    <span ng-if="sales.status != 'SALE_BLOCKED'">
                                        <button type="button" id="notify-warning"
                                            class="btn btn-sm   margin-inline btn-warning"
                                            ng-click="blockSaleConfirm(sales)"><span
                                                ng-if="sales.sale_type==='NORMAL'">Block</span>
                                            <span ng-if="sales.sale_type==='BULK'">Deactivate</span>
                                        </button>
                                    </span>
                                </span>

                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                        on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- modal popup to Sale details-->
<div class="modal fade modal-size-large" id="saleDetails" tabindex="-1" role="dialog" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Slae Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <colgroup>
                            <col class="col-xs-4">
                            <col class="col-xs-8">
                        </colgroup>

                        <tbody>

                            <tr>
                                <td class="text-nowrap">
                                    Owner
                                </td>
                                <td>{{modalDetials.user.firstName}} {{modalDetials.user.lastName}}</td>
                            </tr>

                            <tr>
                                <td class="text-nowrap">
                                    Sale Title
                                </td>
                                <td>{{modalDetials.title}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Sale Quantity
                                </td>
                                <td>{{modalDetials.quantity}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Price
                                </td>
                                <td>{{modalDetials.total_price | currency:currency }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    MRP
                                </td>
                                <td>{{modalDetials.total_MRP | currency:currency }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Total Sold
                                </td>
                                <td>{{modalDetials.sold_quantity + modalDetials.sold_MGP_quantity }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Created Date
                                </td>
                                <td>{{modalDetials.createdAt | date : 'yyyy-MM-dd'}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Sale Items
                                </td>
                                <td>
                                    <table class="table table-inverse" ng-repeat="items in modalDetials.sale_items">

                                        <tbody>
                                            <tr>
                                                <td class="text-nowrap">Product Price </td>
                                                <td> {{items.price+items.tax_price | currency:currency }} &nbsp
                                                    (Price:{{items.price | currency:currency }}
                                                    ,Tax:{{items.tax_price | currency:currency }})</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    PTR DISCOUNT
                                </td>
                                <td>
                                    <input type="number" ng-model="modalDetials.ptrDiscount">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    FREE OFFER (PTR)
                                </td>
                                <td>
                                    <input type="text" ng-model="modalDetials.free">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal popup to Sale details-->
<div class="modal fade modal-size-large" id="editSale" tabindex="-1" role="dialog" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Slae Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <td class="text-nowrap">
                                    Sale Title
                                </td>
                                <td>{{modalDetials.title}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Price
                                </td>


                                <td>
                                    <input type="text" ng-model="modalDetials.total_price">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    MRP
                                </td>

                                <td>
                                    <input type="text" ng-model="modalDetials.total_MRP">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    PTR DISCOUNT
                                </td>
                                <td>
                                    <input type="text" ng-model="modalDetials.ptrDiscount">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    FREE OFFER (PTR)
                                </td>
                                <td>
                                    <input type="text" ng-model="modalDetials.free">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>{{modalDetials}}</p>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateSale(modalDetials)">Save changes
                    </button>
            </div>
        </div>
    </div>
</div>

<!-- Page Scripts -->
<script>
    $(function () {

        $('.cui-ecommerce--catalog--item--like').on('click', function () {
            $(this).toggleClass('cui-ecommerce--catalog--item--like__selected')
        });

        $("[data-toggle=tooltip]").tooltip();

    });

    $('#notify-warning').on('click', function () {
        $.notify({
            title: '<strong>Heads up!</strong>',
            message: 'You can use any of bootstraps other alert styles as well by default.'
        }, {
            type: 'warning'
        });
    });
</script>
<!-- End Page Scripts -->