<div class="page-content-inner">
    <!-- Ecommerce Products List -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h2>
                Orders List
            </h2>
        </div>
        <div class="panel-body">
            <h4 class="col-md-6 col-sm-6 col-xs-6">Filters</h4>
            <div class="form-group order-total row pull-right col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <span>Total: </span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <label>{{totalCount}} </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label class="form-control-label" for="l0">Order ID </label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="text" class="form-control" name="searchName" ng-model="search.name">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label class="form-control-label" for="l0">Buyers </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <select ng-model="search.buyer" ng-options="buyers as (buyers.profile.companyName | uppercase) for buyers in buyersList | orderBy:'profile.companyName' track by buyers.id "
                                    class="form-control" name="searchvendor">

                                    <option value="" selected>All</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="javascript: void(0);" class="btn btn-primary" ng-click="applyFilters(search)">Apply</a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="javascript: void(0);" class="btn btn-primary" ng-click="resetFilters()">Reset</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class=" table-responsive table   margin-bottom-50">
                <table class="table">
                    <tbody>
                        <tr dir-paginate="order in ordersList  | itemsPerPage:itemsPerPage" current-page="currentPage"
                            total-items="totalCount">
                            <td colspan="6">
                                <table class="table  ">
                                    <thead ng-if="$index == 0">
                                        <tr>
                                            <th width="80px">S.No</th>
                                            <th>OrderID</th>
                                            <th>Amount</th>
                                            <th>ShippedTo</th>
                                            <th>Ordered Date</th>
                                            <th>Order Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td><span style="font-weight: bold">{{order.orderId? order.orderId:
                                                    order.id}} </span>
                                                <p>COMPANY NAME: <span style="text-transform: capitalize; font-weight: bold">{{order.buyerprofile.companyName}}</span></p>
                                            </td>

                                            <td>{{order.order_total | currency:currency}}</td>
                                            <!-- <td>
                                                <span
                                                    class="label {{order.status == 'PAYMENT_CONFIRMED' ? 'label-success' : ''}} {{order.status == 'PAYMENT_PENDING' ? 'label-warning':''}} {{order.status == 'PAYMENT_FAILED' ? 'label-danger':''}}">{{order.status.replace("_", " ")}}</span>
                                            </td> -->
                                            <td style="font-size: 12px;">
                                                <p>{{order.shipping_address.name}}, {{order.shipping_address.address}}
                                                </p>
                                                <p>{{order.shipping_address.city}} {{order.shipping_address.state}}
                                                </p>
                                            </td>
                                            <td>{{order.orderDate | date : 'yyyy-MM-dd'}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-md margin-inline" data-toggle="modal"
                                                    data-target="#orderData" ng-click="editBatchExpiry(order.id);"> Edit
                                                </button>
                                                <button type="button" class="btn btn-primary margin-inline" data-toggle="modal"
                                                    data-target="#uploadModal" ng-click="openUploadModal(order.id);"> Upload
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="sales in order.sales ">
                                            <td> </td>
                                            <td colspan="2">
                                                <!-- <a href="javascript: void(0);"
                                                    class="cui-ecommerce--dashboard--list--img">
                                                    <img ng-src="{{sales.sale_image.imageURL}}" />
                                                </a> -->
                                                <span>{{$index +1 }}</span>. {{sales.title | limitTo:
                                                35}}{{sales.title.length > 35? '...': ''}} - {{ sales.order_quantity }}
                                            </td>
                                            <!-- <td colspan="2"> -->
                                            <!-- <br>Quantity : {{sales.order_quantity}} -->
                                            <!-- <br>Status : {{sales.status.replace("_"," ")}} -->
                                            <!-- </td> -->
                                            <td colspan="2">
                                                <button type="button" class="btn btn-primary btn-sm margin-inline"
                                                    data-toggle="modal" data-target="#userData" ng-click="userDetails(order.id,sales.order_item_id);">
                                                    Track
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-show="ordersList.length == 0">
                            <td colspan="6">
                                <center>No data found</center>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" align="center">
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                    on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- End Ecommerce Products List -->
</div>
<!-- modal popup to edit order list-->
<div class="modal fade modal-size-large" id="userData" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Track Sale</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="product in saleData.sales.products">
                    <h3>{{product.title}} </h3>
                    <div ng-repeat="variant in product.variant track by $index">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    <a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img">
                                        <img ng-src="{{variant.images[0].imageURL}}" />
                                    </a>
                                    <span ng-repeat="varitor in product.variator">{{varitor.name}}:
                                        {{variant[varitor.name]}},</span>
                                </div>
                                <div class="col-md-7">
                                    <div id="example-icons" class="cui-wizard wizard clearfix" role="application">
                                        <div class="steps clearfix">
                                            <ul role="tablist">
                                                <li role="tab" class="first done">
                                                    <a>
                                                        <span class="number">1.</span>
                                                        <i class="icmn-circles cui-wizard--steps--icon"></i>
                                                        <span class="cui-wizard--steps--title">Order Received
                                                            <br>{{variant.trackListNew.ORDER_RECEIVED[0].status_updated_at
                                                            | date:'dd/MM/yyyy'
                                                            }}</span>
                                                    </a>
                                                </li>
                                                <li role="tab" class=" done" ng-class="variant.trackListNew.ORDER_APPROVED[0].status == 'ORDER_APPROVED'  ? ' ' : 'disabled'">
                                                    <a>
                                                        <span class="number">2.</span>
                                                        <i class="icmn-circles cui-wizard--steps--icon"></i>
                                                        <span class="cui-wizard--steps--title">Order
                                                            <br>
                                                            <span class="trackStatus" ng-if="variant.trackListNew.ORDER_APPROVED[0].status == 'ORDER_APPROVED'">Order
                                                                Confirmed </span>
                                                            <span class="trackStatus" ng-if="variant.trackListNew.ORDER_CANCELED[0].status == 'ORDER_CANCELED'">Order
                                                                Cancelled</span>
                                                        </span>
                                                        {{variant.trackList[1].status_updated_at | date:'dd/MM/yyyy'}}</a>
                                                </li>
                                                <li role="tab" class=" done" ng-class="variant.trackListNew.ORDER_SHIPPED[0].status_updated_at ? '' : 'disabled'">
                                                    <a>
                                                        <span class="current-info audible">current step: </span>
                                                        <span class="number">3.</span>
                                                        <i ng-hide="variant.trackListNew.ORDER_SHIPPED[0].status_updated_at"
                                                            class="icmn-circles cui-wizard--steps--icon" style="cursor: pointer;"
                                                            ng-click="updateTrackingDetails(saleData, product)"></i>
                                                        <i ng-show="variant.trackListNew.ORDER_SHIPPED[0].status_updated_at"
                                                            class="icmn-circles cui-wizard--steps--icon"></i>
                                                        <span class="cui-wizard--steps--title">Tracking
                                                            <br>
                                                            <span ng-show="variant.trackListNew.ORDER_SHIPPED[0].status_updated_at">
                                                                #
                                                                {{variant.trackListNew.ORDER_SHIPPED[0].tracking_details.trackingId}}
                                                                <br>
                                                                {{variant.trackListNew.ORDER_SHIPPED[0].status_updated_at
                                                                | date:'dd/MM/yyyy'}}
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li role="tab" ng-click=" (variant.trackListNew.ORDER_SHIPPED[0].status == 'ORDER_SHIPPED') && (variant.trackListNew.ORDER_DELIVERED[0].status != 'ORDER_DELIVERED') && confirmDeliveryStatus(variant.id,saleData.sales.order_item_id, saleData.id, saleData.sales.id)"
                                                    class="last" ng-class="variant.trackListNew.ORDER_DELIVERED[0].status == 'ORDER_DELIVERED' ? ' ' : 'disabled'"
                                                    ng-hide="DeliveredDa[$index]">
                                                    <a ng-class="((variant.trackListNew.ORDER_SHIPPED[0].status == 'ORDER_SHIPPED') && (variant.trackListNew.ORDER_DELIVERED[0].status != 'ORDER_DELIVERED')) ? 'disableHover' : '' ">
                                                        <span class="current-info audible">current step: </span>
                                                        <span class="number">3.</span>
                                                        <i class="icmn-circles cui-wizard--steps--icon"></i>
                                                        <span class="cui-wizard--steps--title"></span>
                                                        <span ng-hide="variant.trackListNew.ORDER_DELIVERED[0].status">
                                                            Delivery
                                                            <br>
                                                        </span>
                                                        <span ng-show="variant.trackListNew.ORDER_DELIVERED[0].status">
                                                            Delivered
                                                        </span>
                                                        {{variant.trackListNew.ORDER_DELIVERED[0].status_updated_at |
                                                        date:'dd/MM/yyyy'}}
                                                    </a>
                                                </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="orderData" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Batch and Expiry
                    <i class="icmn-download5 pull-right" style="padding: 10px;cursor: pointer;" ng-click="downloadInvoice();">
                    </i>
                    <button type="button" class="btn btn-success pull-right" ng-click="sendInvoice();">
                        Send Invoice
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <h4>Select Dispatch Date </h4>
                    </div>
                    <div class="col-md-4 col-xs-12" style=" margin-bottom: 6px;">
                        <input type="date" class="form-control" ng-model="dispatchDate">
                    </div>
                </div>
                <div class="table-responsive thead-default margin-bottom-50">
                    <table class="table table-hover">
                        <thead>
                            <tr class="header">
                                <th>Title</th>
                                <th>HSN</th>
                                <th>Batch</th>
                                <th>Expiry</th>
                                <th>Price</th>
                                <th>Tax</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sale in order.sales">
                                <td>{{sale.title}}</td>
                                <td style="min-width: 120px;"><input type="text" class="form-control" name="HSN"
                                        ng-model="sale.HSNCode"></td>
                                <td style="min-width: 120px;"><input type="text" class="form-control" name="batchName"
                                        ng-model="sale.batchName"></td>
                                <td style="min-width: 120px;"><input type="text" class="form-control" name="expiry"
                                        ng-model="sale.expiryDate"></td>
                                <td>{{sale.price | currency:currency }}</td>
                                <td>{{sale.tax_price | currency:currency }}</td>
                                <td>{{sale.order_quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="updateBatchAndExpiry()">Update</button>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Upload Company Invoice
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <h5>Upload Company Invoices</h5>
                    </div>
                    <div class="col-md-4 col-xs-12" >
                        <button type="file " class="inputfile btn btn-default" id="file"
                            ngf-select="uploadImageProof($files)" accept="'.pdf, image/*'" name="button">Upload</button>
                    </div>
                </div>
                <div class="row">
                    <div class="image-product col-md-1" style="display: inline; margin-left:8px;" ng-repeat="f in imagesProofList">
                        <a class="avatar1" href="javascript:void(0);">
                            <img ng-src="{{f.link}}" alt="Alternative text to the image" />
                            <span class="remove-product"><i ng-click="removeImgFiles($index)" class="icmn-cancel"></i></span>
                        </a>
                        <p style="margin:0px;">{{f.imageName}}</p>
        
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="uploadInvoices()">Save Changes</button>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.select2').select2();
        $('.select2-tags').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });
        $('.selectpicker').selectpicker();
    })
</script>
<!-- End Page Scripts -->