<div class="page-content-inner">

    <!-- Ecommerce Products List -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h2>App Settings</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="margin-bottom-50">
                        <form name="appSettingsForm" ng-submit="appSettingsForm.$valid && updateContactNumber(appSettings.companyNumber)"
                            novalidate>
                            <div class="form-group" ng-class="{'has-danger' : appSettingsForm.$invalid && !appSettingsForm.companyNumber.$pristine}">

                                <label class="form-label  " for="l0">Contact Number </label>

                                <input type="text" name="companyNumber" ng-model="appSettings.companyNumber" class="form-control "
                                    ng-class="{'has-danger' : !appSettingsForm.contactNumber.$pristine}" placeholder="Default Input"
                                    ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9/&quot&quot\\\]\[+()-]+$/"
                                    required>
                                <span ng-if="appSettingsForm.companyNumber.$touched || appSettingsForm.$submitted">
                                    <span ng-if="appSettingsForm.companyNumber.$error.required || appSettingsForm.companyNumber.$error.pattern || appSettingsForm.companyNumber.$error.minlength || appSettingsForm.companyNumber.$error.maxlength ">

                                        <div class=" form-control-error " data-error-list>
                                            <ul>
                                                <li ng-show="appSettingsForm.companyNumber.$error.required">Enter Valid
                                                    Number</li>
                                                <li ng-show="appSettingsForm.companyNumber.$error.pattern || appSettingsForm.companyNumber.$error.minlength || appSettingsForm.companyNumber.$error.maxlength">Enter
                                                    Valid Contact Number</li>
                                            </ul>
                                        </div>
                                    </span>
                                </span>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="margin-bottom-50">

                        <form name="creditForm" ng-submit="creditForm.$valid && updateMaxCredit(appSettings.maxCredit)"
                            novalidate>
                            <div class="form-group" ng-class="{'has-danger' : creditForm.$invalid && !creditForm.maxCredit.$pristine}">

                                <label class="form-label  " for="l0">Max Credit Amount</label>

                                <input type="text" name="maxCredit" ng-model="appSettings.maxCredit" class="form-control "
                                    ng-class="{'has-danger' : !creditForm.maxCredit.$pristine}" placeholder="Default Input" ng-pattern="/^[0-9/&quot&quot\\\]\[+()-]+$/"
                                    required>
                                <span ng-if="creditForm.maxCredit.$touched || creditForm.$submitted">
                                    <span ng-if="creditForm.maxCredit.$error.required || creditForm.maxCredit.$error.pattern || creditForm.maxCredit.$error.minlength || creditForm.maxCredit.$error.maxlength ">

                                        <div class=" form-control-error " data-error-list>
                                            <ul>
                                                <li ng-show="creditForm.maxCredit.$error.required">Enter Max Credit</li>
                                                <li ng-show="creditForm.maxCredit.$error.pattern || creditForm.maxCredit.$error.minlength || creditForm.maxCredit.$error.maxlength">Enter
                                                    Valid Max Credit Amount</li>
                                            </ul>
                                        </div>
                                    </span>
                                </span>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150">Update</button>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="table-responsive thead-default margin-bottom-50">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!--<th>ID</th>-->
                            <th>S.NO</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number </th>
                            <th>Max Credit Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr dir-paginate="user in usersList | itemsPerPage:itemsPerPage | orderBy:user.createdAt:asc" current-page="currentPage" total-items="totalCount">
                            <!--<td><a href="javascript: void(0);" class="link-underlined">{{$index+1}}</a></td>-->
                            <td> {{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{user.firstName}} </td>
                            <td> {{user.email}}</td>
                            <td> {{user.mobileNumber}} </td>
                            <td>{{user.maxCredit}}</td>
                        </tr>
                        <tr ng-show="usersList.length == 0">
                            <td colspan="5">
                                <center>No data found</center>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- End Page Scripts -->