<div class="page-content-inner">

    <!-- Ecommerce Products List -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h2>
                Account Transfers List
            </h2>
        </div>
        <div class="panel-body">
            <h4>
                Filters

            </h4>
            <div class="col-xs-12">
                
                <div class="col-xs-3  ">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="form-control-label" for="l0">Search </label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="search.name" placeholder="Search keyword" id="l0">
                        </div>
                    </div>
                </div>
                <!--<div class="col-xs-4">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="form-control-label" for="l0">Role </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" name="searchRole" ng-model="search.role">
                                        <option value=""  selected >All</option>
                                        <option value="VENDOR">Vendor</option>
                                        <option value="BUYER">Buyer</option>
                                        
                                    </select>
                        </div>
                    </div>

                </div>-->
                <div class="col-xs-3">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="form-control-label" for="l0">Status </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" name="searchstatus" ng-model="search.status">
                                        <option value="" selected >All</option>
                                        <option value="PENDING">PENDING</option>
                                        <option value="TRANSFERRED">TRANSFERRED</option>
                                        <option value="REJECTED">REJECTED</option>
                                        
                                      
                                    </select>
                        </div>
                    </div>

                </div>


                <div class="col-xs-2"><a href="javascript: void(0);" class="pull-right btn btn-primary" ng-click="resetFilters()">Reset</a></div>
            </div>
        </div>
        <div class="panel-body">

            <div class="table-responsive thead-default margin-bottom-50">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Bank Details</th>

                        </tr>
                    </thead>

                    <tbody> 
                        <tr dir-paginate="users in userList  | filter : {user:{firstName:search.name} , status:search.status} | itemsPerPage:itemsPerPage | orderBy:users.createdAt:asc" current-page="currentPage">
                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{users.user.firstName}} {{users.user.lastName}}</td>
                            <td>{{users.user.mobileNumber}}</td>
                            <td>{{users.user.email}}</td>
                            <td>{{users.amount | currency:currency}}</td>
                            <td><span class="label {{users.status == 'TRANSFERRED' ? 'label-success' : ''}} {{users.status == 'PENDING' ? 'label-warning':''}} {{users.status == 'REJECTED' ? 'label-danger':''}}">{{users.status}}</span></td>
                            <td>{{users.createdAt | date : 'yyyy-MM-dd'}}</td>
                            <td>
                              
                                <button type="button" class="btn btn-rounded btn-secondary-outline margin-inline" data-toggle="modal" data-target="#userData"
                                    ng-click="userDetails(users.id);">
                                           <i class="icmn-pencil5"> </i> View
                                       </button>
                            </td>
                        </tr>
                        <tr ng-show="!(userList   | filter : {user:{firstName:search.name} , status:search.status}).length">
                            <td colspan="9">
                                <center>No data found</center>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="9">
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- End Ecommerce Products List -->

</div>
<!-- modal popup to edit users list-->
<div class="modal fade" id="userData" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title" id="myModalLabel">Bank Detials</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <colgroup>
                            <col class="col-xs-4">
                            <col class="col-xs-8">
                        </colgroup>

                        <tbody>
 
                            <tr>
                                <td class="text-nowrap">
                                    Name
                                </td>
                                <td>{{modalDetials.user.firstName}} {{modalDetials.user.lastName}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Email
                                </td>
                                <td>{{modalDetials.user.email}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Mobile Number
                                </td>
                                <td>{{modalDetials.user.mobileNumber}}</td>
                            </tr>

                            <tr>
                                <td class="text-nowrap">
                                    Amount
                                </td>
                                <td>  {{modalDetials.amount | currency:currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Account Holder Name
                                </td>
                                <td>{{modalDetials.account_holder_name}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Account Number
                                </td>
                                <td>{{modalDetials.account_Number  }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                  IFSC Code
                                </td>
                                <td>{{modalDetials.ifsc_code}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Created
                                </td>
                                <td>{{modalDetials.createdAt | date : 'yyyy-MM-dd'}}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Status
                                </td>
                                <td> <select class="form-control" name="userStatus" ng-model="modalDetials.status">
                                       
                                         <option value="PENDING">PENDING</option>
                                        <option value="TRANSFERRED">TRANSFERRED</option>
                                        <option value="REJECTED">REJECTED</option>
                                       
                                        
                                    </select></td>
                            </tr>
                            <tr ng-show="modalDetials.status == 'REJECTED'">
                                <td class="text-nowrap">
                                    Reason To Reject
                                </td>
                                <td> <textarea class="form-control" name="reasonToReject" ng-model="modalDetials.Reason">
                                        
                                    </textarea></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>{{modalDetials}}</p>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveStatus(modalDetials)">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Page Scripts -->
<script>
    // $(function () {

    //     // Datatables
    //     $('#example1').DataTable({
    //         "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
    //         responsive: true,
    //         "autoWidth": false
    //     });

    // })
</script>
<script>
    $(function () {

        $('.select2').select2();
        $('.select2-tags').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });

        $('.selectpicker').selectpicker();

    })
</script>
<!-- End Page Scripts -->